.contacts
  width: 100%
  background: black
  display: flex
  justify-content: flex-end
  align-items: center
  color: white
  height: 60px
  ul
    list-style-type: none
    display: flex
    justify-content : flex-start
    align-items: center
    li
      margin-right: 20px
      color: white
      .contact
        width: 20px
        height: 20px
        img
          height: 30px
          width: 30px
          transition: all 0.5s
          &:hover
            width: 40px
            height: 40px